@import "../../../../styles";

.item-list {
  margin: 10px;
}

.item {
  box-shadow: 0px 0px 6px -1px rgba(150, 150, 150, 0.89);
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  margin: 15px 5px;
  background: white;
}

.item-date {
  font-weight: 700;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  padding: 10px 15px;
  color: lighten($brand-font-color, 15);

  border-left: 2px solid lightgrey;
}

.date-day {
  font-size: 16px;
  letter-spacing: 1px;
}

.item-description {
  padding: 10px;
  font-size: 12px;
  display: flex;
  align-items: center;
}

li {
  padding: 5px;
  margin-left: 15px;
  list-style-type: circle;
}

