<form [formGroup]="attractionForm" (ngSubmit)="onSubmit()">
  <mat-form-field class="example-full-width">
    <input matInput formControlName="name" placeholder="Nazwa">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput formControlName="city" placeholder="Miasto">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput formControlName="photoURL" placeholder="URL zdjęcia">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput formControlName="description" placeholder="Opis">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput formControlName="addressLink" placeholder="Link (Google map)">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput formControlName="price" placeholder="Cena">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput formControlName="openFromTime" placeholder="Otwarte od">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput formControlName="openToTime" placeholder="Otwarte do">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput formControlName="additionalInfo" placeholder="Dodatkowe informacje">
  </mat-form-field>

  <!--<mat-form-field class="example-full-width">-->
    <!--<textarea matInput formControlName="price" placeholder="Leave a comment"></textarea>-->
  <!--</mat-form-field>-->
  <button type="submit">Submit</button>
</form>
