<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="false"
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="!(isHandset$ | async)">
    <mat-toolbar></mat-toolbar>
    <mat-nav-list>
      <mat-expansion-panel #matExpansionPanel mat-elevtion-z2 [hideToggle]="item.children.length === 0" *ngFor="let item of menuItems">
        <mat-expansion-panel-header (click)="expandPanel(matExpansionPanel, item)" >
          <mat-panel-title color="primary">
            {{item.name}}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p *ngFor="let subItem of item.children">{{subItem.name}}</p>
      </mat-expansion-panel>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar>
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span class="spacer"></span>
    </mat-toolbar>
  </mat-sidenav-content>
</mat-sidenav-container>
<!-- TODO: Menu expanding should work alike gmail -->
<!--TODO: add box shadow to nav-bar-->

