<mat-sidenav-container class="sidenav-container">

  <!--Side nav-->
  <mat-sidenav #drawer class="sidenav" fixedInViewport="false"
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="(tripService.isTripChosen && !(isHandset$ | async))">
    <mat-toolbar>
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.close()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
    </mat-toolbar>
    <mat-nav-list>
      <mat-expansion-panel #matExpansionPanel [hideToggle]="item.children.length === 0" *ngFor="let item of menuItems">
        <mat-expansion-panel-header (click)="expandPanel(matExpansionPanel, item)" [routerLink]="['trips/detail/plan']">
          <mat-panel-title class="menu-item" color="primary">
            <i class="material-icons">{{item.icon}}</i>
           <span class="item-name">
             {{item.name}}
           </span>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="submenu-item"  *ngFor="let subItem of item.children" [routerLink]="['/trips/detail/attractions']">
          <i class="material-icons">
            {{subItem.icon}}
          </i>
          <a>
            {{subItem.name}}
          </a>
        </div>
      </mat-expansion-panel>
    </mat-nav-list>
  </mat-sidenav>

  <!--Main container-->
  <mat-sidenav-content>
    <mat-toolbar class="main-toolbar">
      <ng-container *ngIf="tripService.isTripChosen">
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()"
          *ngIf="isHandset$ | async">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
      </ng-container>
      <span class="trip-info-label">Trip Info</span>
      <div *ngIf="auth.userLoggedIn; else login"
           class="user-profile"
           [matMenuTriggerFor]="menu">
        <i class="material-icons">account_circle</i>
        <i class="material-icons">arrow_drop_down</i>
      </div>
      <!--Nav buttons-->
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="auth.signOut()">Log out</button>
        <button mat-menu-item>Dashboard</button>
      </mat-menu>
      <ng-template #login>
        <a routerLink="/login">Sign in</a>
      </ng-template>
    </mat-toolbar>

    <!--Main Content-->
    <router-outlet></router-outlet>

  </mat-sidenav-content>
</mat-sidenav-container>
<!-- TODO: Menu expanding should work alike gmail -->
<!--TODO: add box shadow to nav-bar-->
<!--TODO: Check closing on 660-886px dimension-->


