@import "../styles";

:host {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.main-toolbar {
  justify-content: flex-end;
  a{
    font-size: 16px;
    cursor: pointer;
    margin: 5px;
    text-decoration: none;
    &:visited{
      color: #fff;
      text-decoration: none;
    }
  }
}

.user-profile{
  display: flex;
  cursor: pointer;
}

.spacer{
  flex: 1 1 auto;
}

.mat-toolbar{
  color: white;
  background: $brand-color;
}

mat-sidenav-container{
  height: 100%;

  mat-sidenav {
    width: 250px;

    i{
      color: rgba($brand-icon-color, 0.8);
    }
  }

  .mat-drawer-side{
    border: none;
  }

}

.trip-info-label {
  font-size: 18px;
  margin-left: 5px;
  flex: 1 1 auto;
}

mat-expansion-panel-header {
  padding: 0 15px;
  cursor: pointer;
}

.menu-item {
  align-items: center;

  .item-name {
    margin-left: 10px;
  }
}

.mat-list-base{
  padding: 0;
}

.mat-expansion-panel:not([class*=mat-elevation-z]) {
  box-shadow: none;
  border-radius: 0;
  border-bottom: 1px solid rgba($brand-border-color, 0.3);
}

mat-sidenav-content{
  box-shadow: inset 3px 0 10px -6px rgba(0, 0, 0, 0.75);
}

.submenu-item{
  cursor: pointer;
  padding: 10px;
  display: flex;
  align-items: center;

  &:hover{
    background: rgba(0,0,0,.04);;
  }
  a {
    margin-left: 10px;
  }
}

