<form [formGroup]="attractionForm" (ngSubmit)="onSubmit(attractionForm.value)">

  <mat-form-field>
    <input matInput formControlName="name" placeholder="Nazwa">
    <mat-error *ngIf="attractionForm.controls['name'].hasError('required')">
      Name is <strong>required</strong>
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <input matInput formControlName="city" placeholder="Miasto">
  </mat-form-field>

  <mat-form-field>
    <input matInput formControlName="photoURL" placeholder="URL zdjęcia">
  </mat-form-field>

  <mat-form-field>
    <input matInput formControlName="addressLink" placeholder="Link (Google map)">
  </mat-form-field>

  <mat-form-field>
    <input matInput formControlName="price" placeholder="Cena (może być od do)">
  </mat-form-field>

  <mat-form-field>
    <input matInput formControlName="openFromTime" placeholder="Otwarte od">
  </mat-form-field>

  <mat-form-field>
    <input matInput formControlName="openToTime" placeholder="Otwarte do">
  </mat-form-field>

  <mat-form-field>
    <textarea matInput formControlName="description" placeholder="Opis"></textarea>
  </mat-form-field>

  <mat-form-field>
    <input matInput formControlName="additionalInfo" placeholder="Dodatkowe informacje">
  </mat-form-field>

  <button type="submit">Submit</button>
</form>
