<div class="main-content">
  <ng-container *ngIf="attractions$ | async as attractions; else loadingSpinner">
    <mat-card *ngFor="let attraction of attractions">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>
          <span [ngClass]="{'pointer' : attraction.addressLink}"
                (click)="onNavigate(attraction.addressLink)">{{attraction.name}}</span>
          <div class="icons-container">
            <i (click)="removeAttraction(attraction.id)" class="material-icons pointer">mode_delete</i>
            <i (click)="editAttraction(attraction)" class="material-icons pointer">mode_edit</i>
          </div>
        </mat-card-title>
        <mat-card-subtitle>

          <!--Available Time-->
          <i class="material-icons">access_time</i>
          <span *ngIf="attraction.openFromTime && attraction.openToTime; else allDay"
                class="attraction-time">{{attraction?.openFromTime}} - {{attraction.openToTime}}</span>
          <ng-template #allDay>
            <span class="attraction-time">Cały dzień</span>
          </ng-template>

          <!--Price-->
          <i class="material-icons price-icon">attach_money</i>
          <span *ngIf="attraction.price; else free">{{attraction.price}} {{currency}}</span>
          <ng-template #free>
            <span>Free</span>
          </ng-template>
        </mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image *ngIf="attraction.photoURL" [src]="attraction.photoURL" alt="Wat Pho">
      <mat-card-content>
        <p>
          {{attraction.description}}
        </p>
        <p class="additional-info" *ngIf="attraction.additionalInfo">
          <span class="bold">Info:</span> {{attraction.additionalInfo}}
        </p>
      </mat-card-content>
    </mat-card>
  </ng-container>
  <ng-template #loadingSpinner>
    <mat-spinner></mat-spinner>
  </ng-template>
</div>
<app-add-button (click)="openDialog()"></app-add-button>
