/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

$brand-color: #3f51b5;
$brand-icon-color: #323232;
$brand-font-color: rgba(0, 0, 0, 0.87);
$brand-border-color: #969696;

html {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body, html{
  height: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

span:focus{
  outline: none;
}

mat-panel-title {
  outline: none;

}

.flex{
  display: flex;
}
